.button {
  font-family: Rubik, sans-serif;
  cursor: pointer;
  outline: none;
  outline-offset: 2px;
  border-radius: var(--spacing-lg);

  &:focus-visible {
    outline: 3px solid var(--brand-hover);
  }
}

.ghost {
  padding: 0 !important;
  outline: none;
  background: none;
  border: none;
}

.link {
  padding: 0 !important;
  color: var(--brand);
  text-decoration: underline;
  outline: none;
  background: none;
  border: none;
}
