.hero {
  --radius: var(--rounded-xl);

  position: relative;
  width: 100%;

  div {
    position: absolute;
    inset: 0;
    z-index: -10;
    width: 100%;
    background: var(--foreground);
    border-radius: var(--radius);
    transform: translate(0.5rem, 0.5rem);
    transition: transform 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 75ms;
  }

  input {
    width: 100%;
    padding: var(--spacing-md) var(--spacing-lg);
    font-family: Rubik, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--foreground);
    outline: none;
    outline-offset: 2px;
    background: var(--surface);
    border: 3px solid var(--foreground);
    border-radius: var(--radius);
    transition:
      background 100ms ease-in-out,
      color 100ms ease-in-out;

    &::placeholder {
      color: var(--muted);
    }

    &[aria-invalid='true'] {
      background: var(--error);

      &::placeholder {
        color: var(--error-hover);
      }
    }
  }

  &:focus-within {
    div {
      transform: translate(0, 0);
    }
  }
}

@media (width >= 480px) {
  .hero {
    div {
      transform: translate(0.75rem, 0.75rem);
    }

    input {
      font-size: 2rem;
    }
  }
}
