@import "./normalize.css";
@import "./colors.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: var(--taupe-100);
  --surface: var(--taupe-50);
  --foreground: var(--mist-800);
  --brand: var(--blue-500);
  --brand-hover: var(--blue-600);
  --error: var(--red-300);
  --error-hover: var(--red-400);
  --muted: #d9d9d9;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.5rem;
  --spacing-2xl: 2rem;
  --rounded-none: 0px;
  --rounded-sm: 0.25rem;
  --rounded-md: 0.5rem;
  --rounded-lg: 0.75rem;
  --rounded-xl: 1rem;
  --rounded-full: 9999px;
}

body {
  font-family: Rubik, sans-serif;
  color: var(--foreground);
  background: var(--background);
}
